<nav id="nav">
  &lt;/&gt; <%= @title %>

  <ul id="navigation-list">
    <p class="separator">PAGES</p>
    <%= create_sidebar_page_entries(rel_prefix) %>
    <p class="separator">CODE</p>
    <%= create_sidebar_class_entries(@grouped_classes[nil], rel_prefix) %>
  </ul>
</nav>
